*{
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 151, 22);
    width: 100%;
    min-height: 100vh;
    color: rgb(26, 5, 5);    
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: burlywood;
    border-radius: 100px;
}

.topHeadlines .right .topNews::-webkit-scrollbar{
    width: 6px;
}

.topHeadlines .right .topNews::-webkit-scrollbar-thumb{
    background-color: blanchedalmond;
}


.header{
    position: fixed;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    background-color: rgb(248, 245, 245);
    padding: 20px 50px;  
    height: 200px;   
}

.logo{
    cursor: pointer;
}
nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin: 0 15px;
    padding: 0 10px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    transition: 0.3s;
}

nav ul li:hover{
    border-left: 1px solid violet;
    border-right: 1px solid violet;
}

nav ul li a {
    text-decoration: none;
    color: blue;
    letter-spacing: 1px;
}

.topHeadlines{
    padding: 220px 50px 50px;
    width: 100%;   
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.topHeadlines .left{
    padding: 10px 30px;
    /* background-color: rgb(236, 231, 231); */
}

.topHeadlines .left > .title{
    font-size: 20px;
    padding: 15px;   
    text-align: center; 
}

.topHeadlines .left .img{
    width: auto;
    height: auto;
    background-color: brown;
}

.topHeadlines .left .img img{
    width: 100%;
    height: 100%;
}

.topHeadlines .left h6{
    font-size: 30px;
}

.topHeadlines .left .text{
    padding: 20px 15px 10px;

}

.topHeadlines .left .text .title h4{
    font-size: 20px;
    letter-spacing: 1px;
    display: inline;
    cursor: pointer;    
}

.topHeadlines .left .text h4:hover{
    text-decoration: underline;
}

.topHeadlines .left .text .description{
    font-size: 15px;
    margin: 10px;
    color: rgb(5, 5, 49);
    letter-spacing: 1px;
}

.topHeadlines .right{
    padding: 10px;
    margin: 10px;
    width: 1005;
    height: 500px;
    /* background-color: wheat; */

}

.topHeadlines .right > .title{
    font-size: 20px;
    padding: 15px;
    text-align: center;     
}

.topHeadlines .right .topNews{
    padding: 7px;
    height: 85%;
    background-color: wheat;
    border: 1px solid white;
    border-radius: 4px;  
    overflow-y: scroll;
}

.topHeadlines .right .topNews .news{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-bottom: 20px;

}

.topHeadlines .right .topNews .news .img{
    width: 170px;
    height: 120px;
    background-color: rgb(160, 99, 99);
}

.topHeadlines .right .topNews .news .text{
    margin-inline: 10px;
}

.topHeadlines .right .topNews .news .text .title{
    cursor: pointer;    
}

.topHeadlines .right .topNews .news .text .title:hover{
    text-decoration: underline;
}

.page2{
    width: 100%;
    background-color: rgb(202, 156, 55);
    min-height: 100vh;
    padding: 50px;    
}

.page2 .news{
    padding: 30px 0;
    border-bottom: 1px solid whitesmoke;
}

.page2 .news:last-child{
    padding: 30px 0;
    border-bottom: none;
}


.page2 .news > .title h4{
    font-size: 40px;
    cursor: pointer;
    display: inline;
}

.page2 .news > .title h4:hover{
    text-decoration: underline;
}

.page2 .news .newsBox{
    width: 100%;
    background-color: azure;
    margin-top: 20px;
    display: flex;
}

.page2 .news .newsBox .newsCard{
    width: calc(100% / 5 - 20px);
    /* min-height: 250px; */
    margin: 10px;
    background-color: yellowgreen;
}

.page2 .news .newsBox .newsCard .text{
    padding: 10px;
}

.page2 .news .newsBox .newsCard .img{
    width: 100%;
    height: 150px;
    background-color: blueviolet;
}

.page2 .news .newsBox .newsCard .title p{
    font-size: 15px;
    display: inline;
    cursor: pointer;
}

.page2 .news .newsBox .newsCard .title p:hover{
    text-decoration: underline;
}

